# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv/
env/
venv/
